groups:
  - name: model-serving-alerts
    rules:
      - alert: ModelServingDown
        expr: up{job="naufal_falah_a-heart-disease-serving"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Model serving endpoint tidak terjangkau"
          description: "Target {{ $labels.instance }} down selama lebih dari 1 menit."
